<div class="page-header">
  <h1>Loan Requests</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3 pull-left">

      <% @categories.each do |category| %>
        <% cache category do %>
          <%= link_to category.title, category %>
        <% end %>
      <% end %>


    </div>

    <%= render "shared/search" %>

  </div>
</div>

<br>

<%= render "shared/lender_thumbnail" %>
<%= will_paginate @loan_requests, class: 'apple_pagination' %>
